<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="RetryFailedTestCases.Transformation"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="FillTheFormValues">
        <classes>
            <class name="FillTheFormTest"></class>
            <class name="BrokenLinksTest"></class>
        </classes>
    </test>
</suite>